<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link th:href="@{/css/w3style/w3.css}" rel="stylesheet" />
</head>
<body>

	<div class="w3-panel w3-padding-32">
		<h1>Routes Iterable List from BD H2</h1>
		<h3>Table of routes</h3>
		<table class="w3-table-all">
			<tr class="w3-black w3-hover-teal">
				<td>id</td>
				<td>name</td>
				<td>type</td>
				<td>location</td>
				
			</tr>
			<tr th:each="route:${routesfromController}">
				<td th:text="${route.id}"></td>
				<td th:text="${route.name}"></td>
				<td th:text="${route.type}"></td>
				<td th:text="${route.location}"></td>
			
				<td><a th:href="@{deleteRoute(id=${route.id})}"
					class="w3-button w3-red">Delete</a> <a
					th:href="@{detailRoute(id=${route.id})}"
					class="w3-button w3-teal">Detail</a> <a
					th:href="@{updateRoute(id=${route.id})}"
					class="w3-button w3-blue">Update</a></td>
			</tr>
		</table>
	</div>
</body>
</html>