<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">



<title>Registrarse</title>
</head>
<body>
<!-- Fragment -->
<div layout:fragment="content">

<div class="w3-container w3-padding-32" id="Formulario">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Registrarse</h3>
    <p>Rellena estos datos, por favor</p>
   <form th:action="adduser">
      <input class="w3-input w3-border" name="name" placeholder="Nombre" type="text" required>
      <input class="w3-input w3-section w3-border" type="text" placeholder="Nombre de usuario" required name="userName">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Constraseña" required name="password">     
      <button class="w3-btn w3-teal">Crear usuario</button>

      </form>

</div>

</div>
</body>
</html>